div#experience.block.experience-wrapper
    div.experience-content
        h2.experience-content-title.title Мои Достижения
        div.experience-content-infoblock.infoblock    
    div.block-num
        span 02