-const headerLogoText = "Portfolio"
-const headerLogoImg = "https://via.placeholder.com/120"
-const headerNavItems = { "Обо мне": "#about", "Достижения": "#experience", "Портфолио": "#portfolio", "Контакты": "#contacts" }

div.header-content
    div.header-logo
        div.header-logo-img
            img(src=headerLogoImg)  
        h1.header-logo-text #{headerLogoText}       
    nav.header-nav
        each value, key in headerNavItems
            a.nav-item.header-nav-item(href=value) #{key}