// HEADER
@import './variables'

.header
    &-content
        display: flex
        justify-content: space-between
        position: fixed
        align-items: center
        transition: $transition-duration 
        padding: 1rem 3rem 1rem 3rem
        height: $header-content-height
        box-shadow: 0px 17px 15px 0px rgba(0,0,0,0.39) 
        background: white
        width: 100% 
        z-index: 2 
        top: 0
    &-logo
        display: flex
        align-items: center
        &-img
            img
                display: block
                border: 5px solid black
                transition: $transition-duration
                border-radius: 50%
                width: $header-logo-image-size
                height: $header-logo-image-size
        &-text
            font-size: $header-text-font-size
            margin-left: 2rem 
            transition: $transition-duration
        &:hover
            cursor: pointer
            .header-logo-img > img
                border: 5px solid $hover-gray
            .header-logo-text
                color: $hover-gray      
    &-nav
        display: flex
        padding: 5px
        &-item
            margin-left: 1.5rem
            font-size: $nav-item-font-size
            &::after
                content: ""
                display: block
                border-top: 5px solid black
                transition: $transition-duration
                width: 0
            &:hover::after
                width: 100%

.sticky
    background: rgba(255, 255, 255, 0.7)
    @include minimize(6.6rem)                                